.ant-dropdown {
  .ant-dropdown-menu {
    min-height: 150px;
    min-width: 200px;
    > .ant-dropdown-menu-item {
      padding: 8px 12px;
      .ant-dropdown-menu-title-content {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
      }
    }
  }
}
