.zorba-tag {
  width: 80px;
  min-height: 28px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  &.error {
    background-color: rgb(255 150 93 / 10%);
    color: #e56e19;
  }
  &.success {
    background-color: rgb(73 201 109 / 10%);
    color: #20a144;
  }
}
